# Created by https://www.toptal.com/developers/gitignore/api/macos,xcode,swift,swiftpm,build,fastlane,carthage,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,xcode,swift,swiftpm,build,fastlane,carthage,cocoapods

### Carthage ###
# Carthage
# Carthage/Checkouts
Carthage/Build
Carthage/Build/

### CocoaPods ###
Pods/

### fastlane ###
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/FastlaneRunner

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
*.icloud

### Swift ###
## User settings
xcuserdata/

## Xcode 8 and earlier (compat)
*.xcscmblueprint
*.xccheckout

## Xcode 3 and earlier (compat)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager (ajustado para versionar seus packages locais)
.build/
.swiftpm/
# Opcional: ignore o lock file se preferir
# Package.resolved

# Accio
Dependencies/
.accio/

# fastlane (regras extras fora de **/ acima)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/macos,xcode,swift,swiftpm,build,fastlane,carthage,cocoapods
